# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [137]:
import pandas as pd
import numpy as np
import seaborn as sns

df_demo = pd.read_csv('demo01.csv')
print('Variáveis,Tipos de Dados e Missings')
print(df_demo.info())
print('\n')
print('Distribuição da variável resposta (mau)')
print(f'Total -->  {len(df_demo)}')
print(df_demo['mau'].value_counts())
print('\n')
print('Distribuição da variável resposta (mau) Normalizado')
print(df_demo['mau'].value_counts(normalize=True))
print('\n')
print('Distribuição da variável resposta (mau) em percentual')
print(round(df_demo['mau'].value_counts(normalize=True)*100,2))

Variáveis,Tipos de Dados e Missings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB
None


Distribuição da variável resposta (mau)
Total -->  16650
False    16260
True       390
Name: mau, dtype: int64


Distribuição da variável resposta (mau) Normalizado
False    0.976577
True     0.023423
Name: mau, dtype: float64


Distribuição da variável resposta (mau) em percentual
False    97.66
True      2.34
Name: mau, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [138]:
print(df_demo.columns)
print(df_demo.dtypes)

Dicionario = {
    'Coluna':['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
    'Tipo_Dado':['object','object','object','int64','object','object','object','object','float64',
        'float64','int64','int64','int64','int64','float64','bool']
}

df_caract = pd.DataFrame(Dicionario)
print(df_caract)
qtd_categorias=[]
for i in range(0,len(df_caract)):
    col = df_caract['Coluna'][i]
    qtde = len(df_demo[col].unique())
    qtd_categorias.append(qtde)

df_caract['Qtd_Categorias'] = qtd_categorias
print(df_caract)

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')
sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object
                   Coluna Tipo_Dado
0                    sexo    object
1        posse_de_veiculo    object
2         posse_de_imovel    object
3              qtd_filhos     int64
4              tipo_renda    object
5                educacao    object
6            estado_civil    object
7         tipo_residencia    object
8                   idade   float64
9           tempo_emprego   float64
10         possui_celular     int64
11  possui_fone_comercial     int64
12            possui_fone     int64
13           possui_email     int64
14  qt_pessoas_residencia   float64
15                    mau      bool
                   Coluna Tipo_Dado  Qtd_Categorias
0                    sexo    object               2
1        posse_de_veiculo    object               2
2         posse_de_imovel    object               2
3              qtd_filhos     int64               8
4              tipo_renda    object               5
5                educacao    object               5
6            estado_civil    object               5
7         tipo_residencia    object               6
8                   idade   float64            5298
9           tempo_emprego   float64            3005
10         possui_celular     int64               1
11  possui_fone_comercial     int64               2
12            possui_fone     int64               2
13           possui_email     int64               2
14  qt_pessoas_residencia   float64               9
15                    mau      bool               2

In [139]:
df_demo.tipo_residencia.unique()

array(['House / apartment', 'Rented apartment', 'Municipal apartment',
       'With parents', 'Co-op apartment', 'Office apartment'],
      dtype=object)

In [140]:
qtd_categorias=[]
for i in range(0,len(df_caract)):
    col = df_caract['Coluna'][i]
    qtde = len(df_demo[col].unique())
    qtd_categorias.append(qtde)

df_caract['Qtd_Categorias'] = qtd_categorias
print(df_caract)

                   Coluna Tipo_Dado  Qtd_Categorias
0                    sexo    object               2
1        posse_de_veiculo    object               2
2         posse_de_imovel    object               2
3              qtd_filhos     int64               8
4              tipo_renda    object               5
5                educacao    object               5
6            estado_civil    object               5
7         tipo_residencia    object               6
8                   idade   float64            5298
9           tempo_emprego   float64            3005
10         possui_celular     int64               1
11  possui_fone_comercial     int64               2
12            possui_fone     int64               2
13           possui_email     int64               2
14  qt_pessoas_residencia   float64               9
15                    mau      bool               2

In [141]:
#Criação do dummies
df_demo_new = pd.get_dummies(df_demo,columns=['tipo_renda','educacao','estado_civil',
                                               'tipo_residencia'],drop_first=True)

#print(df_demos_new.info())
pd.set_option('display.max_columns', None)
df_demo_new.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,tipo_renda_Pensioner,tipo_renda_State servant,tipo_renda_Student,tipo_renda_Working,educacao_Higher education,educacao_Incomplete higher,educacao_Lower secondary,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,M,Y,Y,0,58.832877,3.106849,1,0,0,0,2.0,False,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0
1,F,N,Y,0,52.356164,8.358904,1,0,1,1,1.0,False,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0
2,F,N,Y,0,52.356164,8.358904,1,0,1,1,1.0,False,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0
3,M,Y,Y,0,46.224658,2.106849,1,1,1,1,2.0,False,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0
4,F,Y,N,0,29.230137,3.021918,1,0,0,0,2.0,False,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [142]:
df_demo_new.sexo = df_demo_new.sexo.map({'M':1,'F':0})
df_demo_new.posse_de_veiculo = df_demo_new.posse_de_veiculo.map({'Y':1,'N':0})
df_demo_new.posse_de_imovel = df_demo_new.posse_de_imovel.map({'Y':1,'N':0})
df_demo_new.mau = df_demo_new.mau.astype(int)

print(df_demo_new.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   sexo                                    16650 non-null  int64
 1   posse_de_veiculo                        16650 non-null  int64
 2   posse_de_imovel                         16650 non-null  int64
 3   qtd_filhos                              16650 non-null  int64
 4   idade                                   16650 non-null  float64
 5   tempo_emprego                           16650 non-null  float64
 6   possui_celular                          16650 non-null  int64
 7   possui_fone_comercial                   16650 non-null  int64
 8   possui_fone                             16650 non-null  int64
 9   possui_email                            16650 non-null  int64
 10  qt_pessoas_residencia                   16650 non-null  float64
 11  mau                                     16650 non-null  int32
 12  tipo_renda_Pensioner                    16650 non-null  uint8
 13  tipo_renda_State servant                16650 non-null  uint8
 14  tipo_renda_Student                      16650 non-null  uint8
 15  tipo_renda_Working                      16650 non-null  uint8
 16  educacao_Higher education               16650 non-null  uint8
 17  educacao_Incomplete higher              16650 non-null  uint8
 18  educacao_Lower secondary                16650 non-null  uint8
 19  educacao_Secondary / secondary special  16650 non-null  uint8
 20  estado_civil_Married                    16650 non-null  uint8
 21  estado_civil_Separated                  16650 non-null  uint8
 22  estado_civil_Single / not married       16650 non-null  uint8
 23  estado_civil_Widow                      16650 non-null  uint8
 24  tipo_residencia_House / apartment       16650 non-null  uint8
 25  tipo_residencia_Municipal apartment     16650 non-null  uint8
 26  tipo_residencia_Office apartment        16650 non-null  uint8
 27  tipo_residencia_Rented apartment        16650 non-null  uint8
 28  tipo_residencia_With parents            16650 non-null  uint8
dtypes: float64(3), int32(1), int64(8), uint8(17)
memory usage: 1.7 MB
None

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [143]:
tab_cruzada = pd.crosstab(df_demo_new['possui_email'],df_demo_new['mau'])
tab_cruzada_pctlin = tab_cruzada.div(tab_cruzada.sum(axis=1), axis=0)
tab_cruzada_pctlin
print(tab_cruzada_pctlin)

tab_cruzada = pd.crosstab(df_demo_new['posse_de_veiculo'],df_demo_new['mau'])
tab_cruzada_pctlin = tab_cruzada.div(tab_cruzada.sum(axis=1), axis=0)
print(tab_cruzada_pctlin)

mau                  0         1
possui_email
0             0.976269  0.023731
1             0.979730  0.020270
mau                      0         1
posse_de_veiculo
0                 0.975732  0.024268
1                 0.977905  0.022095

Aparentemente as 2 váriáveis são muito similares, o percentual de pessoas que são mau pagadores e bom pagadores é muito similar independentemente se a pessoa possui ou não celular e possui ou não veiculo, em torno 2% para todos os casos.

In [144]:
#df_demo_new[['possui_email','posse_de_veiculo','mau']].groupby(['possui_email','posse_de_veiculo']).sum()

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [146]:
df_demo_new.to_csv('demo01_new.csv')